.reservations {
 padding: 1em 2em;
 display: grid;
 justify-content: center;
 gap: 2em;
}

.reservations__title {
 margin-top: 90px;
 text-align: center;
 font-size: 2rem;
 font-weight: bold;
}

.reservations__container {
 display: grid;
 gap: 2em;
}

/* Responsive adjustments */
@media screen and (min-width: 800px) {
 .reservations__container {
   grid-template-columns: 1fr; /* Single column for now, can adjust if multiple cards are needed */
 }
}